.idea
.aws
.env
.DS_Store
tmp
cmd/config/config.yaml
/cmd/config/config.yaml
conf/*.yaml
app
app/*.yaml
Dockerfile/conf/*.yaml
Dockerfile/conf/*.yml
./uploads
uploads
Dockerfile/pro/*.yaml
Dockerfile/pro/*.yml
dockerfiles/conf/*.yaml
dockerfiles/conf/*.yml
dockerfiles/pro/*.yaml
dockerfiles/pro/*.yml
